.header-container {
  background-color: #012D6B;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.header-container div {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}