.job-container {
  background-color: #fff;
  padding: 3.5rem;
}

.title-form {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
}

.job-container h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
  color: #024CB5;
}

.job-container h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #012D6B;
}

.job-container form {
  background-color: #F6F5EF;
  padding: 4rem;
  width: max-content;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.203);
  display: flex;
  flex-direction: column;
}

.job-container form div {
  display: flex;
  flex-direction: column;
}

.job-container form div label {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.job-container form div input {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
}

.job-container form button {
  margin: auto;
  margin-top: 1rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #024CB5;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.job-container form button:hover {
  background-color: #012D6B;
}

.file-input {
  display: none;
}

.custom-file-input {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e9e9e9;
  color: #555555;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.custom-file-input:hover {
  background-color: #dcdcdc;
}

.file-empty {
  display: none;
}

.file-fill {
  display: block;
  text-align: center;
}